.events-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--section-grey);
  padding-top: 2rem;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.event-carousel {
  display: flex;
  justify-content: center;
  gap: 1rem;
  justify-items: center;
  padding-top: 2rem;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.events-header {
  text-align: center;
}

.event-info {
  padding: 0.625rem;
  padding-top: 0;
}

.event-tabs {
  display: flex;
  padding-top: 1.25rem;
  width: 13.625rem;
  justify-content: space-between;
}

.event-tab {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-grey);
  opacity: 49.71%;
  text-decoration: none;
}

.event-tab.active {
  color: var(--theme-color);
  text-decoration: underline;
  opacity: 100%;
}

.event-interact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.event-interact img {
  width: 1.5rem;
}

.time-place {
  color: #222220;
  font-size: 0.75rem;
  font-weight: 400;
}

.arrow {
  width: 2rem;
  height: 2rem;
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#left.arrow {
  transform: translateY(-50%) scaleX(-1);
  left: -1rem;
}

#right.arrow {
  transform: translateY(-50%);
  right: -1rem;
}

.people-count {
  width: 100%;
  height: 0.9375rem;
  display: flex;
  justify-content: right;
  align-items: center;
}

.people-count img {
  width: 1.125rem;
}

.people-count p {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--theme-color);
  margin-left: 0.625rem;
}

@media (min-width: 53.125rem) {
  .car-container {
    width: 48rem;
  }
}

@media (min-width: 65.625rem) {
  .car-container {
    width: 69rem;
  }
}

@media (min-width: 89rem) {
  .car-container {
    width: 90rem;
  }
}
