.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.footer-top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-info {
  display: flex;
  align-items: center;
}

.info-section {
  margin-left: 1.25rem;
  padding-top: 0.625rem;
  max-width: 75rem;
}

.info-section h2 {
  color: var(--theme-color);
  font-size: 1.125rem;
  font-weight: 400;
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.info-section p,
.info-section a {
  color: var(--text-grey);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.info-section ul {
  margin: 0;
}

.socials {
  margin: 1.25rem;
}

.socials img {
  padding-right: 1rem;
}

.contact-info img {
  padding-right: 0.3125rem;
}

.subscribe {
  display: flex;
  align-items: center;
}

#subscribe {
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
}

.copyright {
  width: 100%;
  background-color: var(--text-grey);
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}

.copyright p {
  color: white;
  font-size: 0.75rem;
  font-weight: 400;
}

@media (min-width: 65.625rem) {
  footer {
    background-color: var(--section-grey);
  }
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 0.625rem;
  }

  .info-section {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    width: 100%;
  }
}
