.journey-hero {
  background-color: #aad300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5625rem;
  padding-bottom: 1.25rem;
}

.journey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 65rem;
}

.journey-container .register-btn {
  margin: auto;
  padding: 0;
  background-color: white;
  color: black;
  width: 7.5rem;
  height: 2.375rem;
  font-size: 0.75rem;
  font-weight: 600;
}

.start-journey {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.625rem;
}

.start-journey p {
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.start-journey img {
  width: 3.75rem;
  height: 1.875rem;
}

@media (min-width: 53.125rem) {
  .journey-hero .journey-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .journey-container .register-btn {
    margin: 0;
  }

  .journey-container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
