.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.event-card,
.event-card img {
  width: 20rem;
  border: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  align-items: center;
  background-color: white;
}

.event-image {
  height: 14.2rem;
  padding: 0;
  margin: 0;
}

.event-card {
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
  height: 19.125rem;
  overflow: hidden;
  position: relative;
}

.event-card:nth-child(n + 2) {
  display: none;
}

.featured-listing,
.featured-listing-image {
  min-width: 20.5rem;
  max-width: 23.625rem;
  border: none;
  border-radius: 8px;
  justify-content: center;
}

.featured-listing-image {
  height: 10.625rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.featured-listing {
  width: 100%;
  max-width: 23.625rem;
  overflow: hidden;
  position: relative;
}

.featured-listing:nth-child(n + 2) {
  display: none;
}

@media (min-width: 53.125rem) {
  .featured-listing:nth-child(n + 3) {
    display: block;
  }
  .event-card:nth-child(n + 4) {
    display: block;
  }
}

@media (min-width: 65.625rem) {
  .featured-listing:nth-child(n + 2) {
    display: block;
  }
  .event-card:nth-child(n + 3) {
    display: block;
  }
}

@media (min-width: 89rem) {
  .event-card:nth-child(n) {
    display: block;
  }
}
