.tags {
  position: absolute;
  display: flex;
  margin: 0.3125rem;
}

.tag {
  background-color: var(--theme-color);
  padding: 0.3125rem;
  margin: 0.3125rem;
  color: white;
  border-radius: 0.25rem;
  width: 3.875rem;
  height: 1.3125rem;
  font-size: 0.625rem;
  font-weight: 400;
  text-align: center;
}

#orange {
  background-color: var(--orange-tag-color);
}

.date-overlay {
  position: absolute;
  margin-left: 15rem;
  background-color: var(--theme-color);
  color: white;
  text-align: center;
  width: 3.9375rem;
  height: 3.5625rem;
  border-radius: 0.1875rem;
  font-weight: 400;
  padding: 0.125rem;
}

.featured-listing-owner {
  position: absolute;
  margin-left: 18rem;
  margin-top: 7.25rem;
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
}

#day {
  font-size: 1.375rem;
}
#month {
  font-size: 1.125rem;
}
